URxvt.scrollBar: false
URxvt.saveLines: 20000
URxvt.urgentOnBell: true
URxvt.font: xft:Noto Sans Mono:size=12,xft:DejaVu Sans Mono:size=12,xft:Unifont:size=12,xft:PowerlineSymbols:pixelsize=12
URxvt.scrollTtyKeypress: true
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.letterSpace: 0
URxvt.externalBorder: 0

URxvt.iso14755: false
URxvt.iso14755_52: false

! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #8F79C6
*.color13:    #8F92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

URxvt.perl-ext-common: default,url-select,clipboard
URxvt.matcher.button: 3
URxvt.url-select.launcher:  firefox
URxvt.url-select.underline: true
URxvt.clipboard.autocopy: true
URxvt.selection.pattern-0: \\|([^|]+)\\|
URxvt.internalBorder: 10

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgba
Xft.hinting:    true
Xft.hintstyle:  hintslight

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! Rofi

rofi.modi:                           ssh,window,drun,run
rofi.sidebar-mode:                   true
rofi.terminal:                       urxvtc
rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e "{ssh-client} {host}"
rofi.opacity:                        100
rofi.width:                          50
rofi.lines:                          8
rofi.columns:                        1
rofi.font:                           Noto Sans 14
! rofi.fg:                             #8BE9FD
! rofi.bg:                             #282A36
! rofi.fg-active:                      #F8F8F2
! rofi.fg-urgent:                      #F8F8F2
! rofi.hlfg-active:                    #5e73a0
! rofi.hlfg-urgent:                    #5e73a0
! rofi.bg-active:                      #34405a
! rofi.bg-urgent:                      #34405a
! rofi.hlbg-active:                    #5d729f
! rofi.hlbg-urgent:                    #5d729f
! rofi.bgalt:                          #5671a0
! rofi.hlfg:                           #34405a
! rofi.hlbg:                           #34405a
! rofi.bc:                             #789ee1
! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
! rofi.color-normal: #353944,  #FFFFFF,  #353944,  #5294E2,  #FFFFFF
! rofi.color-normal: #353944,  #FFFFFF,  #353944,  #5294E2,  #FFFFFF
rofi.color-normal: #282A36,  #F8F8F2,  #353944,  #8A99EA,  #FFFFFF

!                  'background', 'border'
rofi.color-window: #353944,      #404552
rofi.bw:                             10
rofi.location:                       0
rofi.padding:                        10
rofi.levenshtein-sort:               true
rofi.case-sensitive:                 false
rofi.fuzzy:                          false
rofi.line-margin:                    2
rofi.separator-style:                solid
rofi.hide-scrollbar:                 true
rofi.markup-rows:                    false
rofi.scrollbar-width:                8
