command=$SCRIPTS_DIR/$BLOCK_NAME/$BLOCK_NAME
separator_block_width=30
markup=none

[memory]
label= 
instance=mem
separator=true
interval=30

[disk]
label= 
DIR=/
interval=30
separator=true

[iface]
label= 
IFACE=ens12u1u3
color=#00FF00
interval=10
separator=false

[iface]
label= 
IFACE=enp0s31f6
color=#00FF00
interval=10
separator=false

[wifi]
INTERFACE=wlp0s20f3
label= 
interval=10
separator=true

[cpu_usage]
separator=true
label= 
interval=10

[battery2]
separator=true
markup=pango
interval=30

[time]
separator=true
command=date '+%a, %b %d %Y %I:%M'
interval=60
